/* 
 * Adult Campaign CSS 
 * Created and Updated: 10.2018
 * 
 */ 


/* ==========================================================================
   Scope Class   
   ========================================================================== */

.esdcadultlearningcampaign { 
    color: #2D2B2C !important;
}


/* ==========================================================================
   Background Image Classes   
   ========================================================================== */

.esdcadultlearningcampaign .alc-hero-bg { 
    height: 300px;
    width: 100%;
    /*background: linear-gradient(45deg, #590957 0%, #137d79 50%, #db2c29 100%); */
    background-image: url("https://canada-ca-adult-campaign.netlify.com/images/adult-campaign/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.esdcadultlearningcampaign .alc-hero-bg.csg { 
    background-image: url("https://canada-ca-adult-campaign.netlify.com/images/adult-campaign/csg-bg.jpg");
}

/*Small view and under*/
@media screen and (max-width: 991px) {

    .esdcadultlearningcampaign .alc-hero-bg { 
        height: 150px;
    }
}

/* ==========================================================================
   CSG Promotional Section Classes   
   ========================================================================== */
.esdcadultlearningcampaign .alc-csg-promo-flex-container { 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 10px 0px 10px 0px;
}

.esdcadultlearningcampaign .alc-csg-promo-section-1 { 
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 60%;
    
    font-weight: 600;
    /* color: #605a07; */
    color: grey;
    padding-right: 15px;
}

.esdcadultlearningcampaign .alc-csg-promo-section-1 p:first-child { 
    font-size: 3.5rem;
    color: black;
}

.esdcadultlearningcampaign .alc-csg-promo-section-2 { 
    margin-left: auto;
    margin-right: auto;
}   

.esdcadultlearningcampaign .alc-csg-promo-section-2 .svg-icon { 
    align-self: center;
    background-color: black;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    padding: 10px;
    margin: 30px 0px 10px 0px;
}

.esdcadultlearningcampaign .alc-csg-promo-section-2 .svg-icon.apprentice { 
    background-color: #590957;
}
.esdcadultlearningcampaign .alc-csg-promo-section-2 .svg-icon.school { 
    background-color: #137d79;
}
.esdcadultlearningcampaign .alc-csg-promo-section-2 .svg-icon.jobs { 
    background-color: #db2c29;
}

/*Small view and under*/
@media screen and (max-width: 991px) {

    .esdcadultlearningcampaign .alc-csg-promo-flex-container { 
        flex-direction: column;
    }

    .esdcadultlearningcampaign .alc-csg-promo-flex-container .alc-csg-promo-section-1 {
        order: 1;
        flex-basis: auto;
        max-width: 100%;
    } 

    .esdcadultlearningcampaign .alc-csg-promo-flex-container .alc-csg-promo-section-2 { 
        order: 0;
        flex-basis: auto;
        max-width: 100%;

        margin-left: auto;
        margin-right: auto;
        padding-bottom: 25px;
    }
}

/* ==========================================================================
   Tagline Classes   
   ========================================================================== */

.esdcadultlearningcampaign .alc-hero-flex-container { 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 10px 0px 10px 0px;
}

.esdcadultlearningcampaign .alc-hero-line-1 { 
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 60%;

    font-size: 4.4rem;
    font-weight: 600;
    /* color: #605a07; */
    color: #000000;
    border-right: 1px solid grey;
    padding-right: 15px;
}

.esdcadultlearningcampaign .alc-hero-line-2 {
    font-size: 2.3rem;
    font-weight: 500;
    color: grey;
    padding: 40px;
}

/*Small view and under*/
@media screen and (max-width: 991px) {
    .esdcadultlearningcampaign .alc-hero-flex-container { 
        flex-direction: column;
    }

    .esdcadultlearningcampaign .alc-hero-line-1 {
        flex-basis: auto;
        max-width: 100%;

        text-align: left;
        font-size: 3.0rem;
        border-right: none;
        line-height: 100%;
        padding-right: none;
    }

    .esdcadultlearningcampaign .alc-hero-line-2 {
        flex-basis: auto;
        max-width: 100%;

        font-size: 2.0rem;
        text-align: left;
        padding: 0px;
    }
}


/* ==========================================================================
   Navigation Card Classes   
   ========================================================================== */

.esdcadultlearningcampaign .alc-nav-card { 
    text-align: center;
    padding: 10px;
}

.esdcadultlearningcampaign .alc-nav-card .alc-nav-card-flex-container { 
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #f9f9f9;
}

.esdcadultlearningcampaign .alc-nav-card .alc-nav-card-flex-container .svg-icon { 
    order: -1;
    align-self: center;
    background-color: black;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    padding: 10px;
    margin: 30px 0px 10px 0px;
}

.esdcadultlearningcampaign .alc-nav-card a {
    text-decoration: none !important;
    display: block;
} 

.esdcadultlearningcampaign .alc-nav-card a h2 { 
    color: grey !important;
    margin: 10px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
}

.esdcadultlearningcampaign .alc-nav-card a p { 
    font-size: 1.8rem;
    color: grey !important;
    margin-bottom: 30px;
}

.esdcadultlearningcampaign .alc-nav-card .alc-nav-card-flex-container { 
    transition: 0.1s ease-in;
}
.esdcadultlearningcampaign .alc-nav-card .alc-nav-card-flex-container:hover { 
    transform: scale(1.1);
    transition: 0.1s ease-in;
}


/*Small view and under*/
@media screen and (max-width: 991px) {
    .esdcadultlearningcampaign .alc-nav-card .alc-nav-card-flex-container:hover { 
        transform: scale(1);
    }
}

.esdcadultlearningcampaign .alc-nav-card.jobs a .svg-icon,
.esdcadultlearningcampaign .alc-nav-card.apprentice a .svg-icon,
.esdcadultlearningcampaign .alc-nav-card.school a .svg-icon,
.esdcadultlearningcampaign .alc-nav-card.jobs a:hover .svg-icon,
.esdcadultlearningcampaign .alc-nav-card.apprentice a:hover .svg-icon,
.esdcadultlearningcampaign .alc-nav-card.school a:hover .svg-icon {
    transition: 0.2s ease-in;
}


.esdcadultlearningcampaign .alc-nav-card.apprentice .svg-icon { 
    background-color: #590957;
}

.esdcadultlearningcampaign .alc-nav-card.apprentice a:hover .svg-icon { 
    background-color: #30052e;
}

.esdcadultlearningcampaign .alc-nav-card.school .svg-icon { 
    background-color: #137d79;
}

.esdcadultlearningcampaign .alc-nav-card.school a:hover .svg-icon { 
    background-color: #0a413f;
}

.esdcadultlearningcampaign .alc-nav-card.jobs .svg-icon { 
    background-color: #db2c29;
}

.esdcadultlearningcampaign .alc-nav-card.jobs a:hover .svg-icon { 
    background-color: #741817;
}


/* ==========================================================================
   Document Section Classes   
   ========================================================================== */

.esdcadultlearningcampaign .alc-section-container { 
    margin: 100px 0px 190px 0px;
}

.esdcadultlearningcampaign .alc-section-container .alc-section-bg { 
    width: 100%; 
    height: 300px;
    background-color: black;
}

.esdcadultlearningcampaign .alc-section-container .alc-section-heading { 
    margin: 40px 20px 40px 20px;
}

.esdcadultlearningcampaign .alc-section-container .alc-section-heading h2 { 
    margin: 20px 0px 0px 0px;
    font-size: 4.0rem;
    color: grey;
}

.esdcadultlearningcampaign .alc-section-container .alc-section-heading p { 
    font-size: 2.3rem;
    margin: 10px 0px 0px 0px;
    color: grey;
}


.esdcadultlearningcampaign .alc-section-container .alc-section-links { 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    margin: 25px 0px 0px 0px;
} 

.esdcadultlearningcampaign .alc-section-container .alc-section-links .subsection { 
    background-color: #ffffff;
    box-shadow: 14px 18px 50px -8px grey;
    border-radius: 3px;
    padding: 20px; 
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
}

.esdcadultlearningcampaign .alc-section-container .alc-section-links .subsection h3 {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 2.5rem;
}

.esdcadultlearningcampaign .alc-section-container .alc-section-links .subsection ul li {
    padding: 10px 0px 10px 0px;
}

.esdcadultlearningcampaign .alc-section-container .alc-section-links .subsection ul li a {
    font-size: 1.6rem; 
}

/*Small view and under*/
@media screen and (max-width: 991px) {

    .esdcadultlearningcampaign .alc-section-container .alc-section-links {
        flex-direction: column;
    }
    
    .esdcadultlearningcampaign .alc-section-container .alc-section-heading { 
        margin: 0px 0px 0px 0px;
    }

    .esdcadultlearningcampaign .alc-section-container .alc-section-bg {
        height: 150px;   
    }

    .esdcadultlearningcampaign .alc-section-container .alc-section-links { 
        margin: 0px 10px 0px 10px;
        background: none !important;
    }

    .esdcadultlearningcampaign .alc-section-container .alc-section-links .subsection { 
        margin: 20px 0px 20px 0px;
        flex-basis: auto;
        max-width: 100%;
    }
}

/* Apprentice Customisation */
.esdcadultlearningcampaign .alc-section-container.apprentice .alc-section-bg { 
    background: linear-gradient(90deg, #590957 0%, #250023 100%);
    background-image: url("https://canada-ca-adult-campaign.netlify.com/images/adult-campaign/apprentice-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.esdcadultlearningcampaign .alc-section-container.apprentice .alc-section-heading h2 { 
    color: #590957;
}

.esdcadultlearningcampaign .alc-section-container.apprentice .alc-section-links .subsection { 
    border-top: 10px solid #590957;
}

.esdcadultlearningcampaign .alc-section-container.apprentice .alc-section-links .subsection h3 {
    color: #590957;
}

.esdcadultlearningcampaign .alc-section-container.apprentice .alc-section-links { 

    background: linear-gradient(
      to bottom, 
      #f9f9f9,
      #f9f9f9 10%,
      #a988a7 10%,
      #a988a7 90%,
      #f9f9f9 90%
    );
}



/* School Customisation */
.esdcadultlearningcampaign .alc-section-container.school .alc-section-bg { 
    background: linear-gradient(90deg, #137d79 0%, #004D4A 100%);
    background-image: url("https://canada-ca-adult-campaign.netlify.com/images/adult-campaign/school-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.esdcadultlearningcampaign .alc-section-container.school .alc-section-heading h2 { 
    color: #137d79;
}

.esdcadultlearningcampaign .alc-section-container.school .alc-section-links .subsection { 
    border-top: 10px solid #137d79;
}

.esdcadultlearningcampaign .alc-section-container.school .alc-section-links .subsection h3 {
    color: #137d79;
}

.esdcadultlearningcampaign .alc-section-container.school .alc-section-links { 

    background: linear-gradient(
      to bottom, 
      #f9f9f9,
      #f9f9f9 10%,
      #d7e5e5 10%,
      #d7e5e5 90%,
      #f9f9f9 90%
    );
}

/* Job Customisation */
.esdcadultlearningcampaign .alc-section-container.job .alc-section-bg { 
    background: linear-gradient(90deg, #db2c29 0%, #8B0400 100%);
    background-image: url("https://canada-ca-adult-campaign.netlify.com/images/adult-campaign/job-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.esdcadultlearningcampaign .alc-section-container.job .alc-section-heading h2 { 
    color: #db2c29;
}

.esdcadultlearningcampaign .alc-section-container.job .alc-section-links .subsection { 
    border-top: 10px solid #db2c29;
}

.esdcadultlearningcampaign .alc-section-container.job .alc-section-links .subsection h3 {
    color: #db2c29;
}

.esdcadultlearningcampaign .alc-section-container.job .alc-section-links { 

    background: linear-gradient(
      to bottom, 
      #f9f9f9,
      #f9f9f9 10%,
      #f4dadb 10%,
      #f4dadb 90%,
      #f9f9f9 90%
    );
}


/* CSG Customisation */
.esdcadultlearningcampaign .alc-section-container.csg .alc-section-heading h2 { 
    color: #000000;
}

.esdcadultlearningcampaign .alc-section-container.csg .alc-section-links .subsection { 
    border-top: 10px solid #777;
}

.esdcadultlearningcampaign .alc-section-container.csg .alc-section-links .subsection h3 {
    color: #777;
}

.esdcadultlearningcampaign .alc-section-container.csg .alc-section-links { 
    margin: 100px 0px 0px 0px;

    background: linear-gradient(
      to bottom, 
      #f9f9f9,
      #f9f9f9 10%,
      rgb(214, 214, 214) 10%,
      rgb(214, 214, 214) 90%,
      #f9f9f9 90%
    );
}

/* ==========================================================================
   CSG Features Section Classes   
   ========================================================================== */

.esdcadultlearningcampaign ul.alc-csg-features-flex-container { 


    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    padding: 0px 0px 0px 0px; 
    margin: 25px 0px 0px 0px;


    list-style: none;
}

.esdcadultlearningcampaign ul.alc-csg-features-flex-container li {
    
   
    padding: 30px;
    background-color: rgb(214, 214, 214);
    
}

.esdcadultlearningcampaign ul.alc-csg-features-flex-container li:first-child {
    margin-right: 15px; 
}

.esdcadultlearningcampaign ul.alc-csg-features-flex-container li:last-child {
    margin-left: 15px;
}

.esdcadultlearningcampaign ul.alc-csg-features-flex-container li p:first-child {
    font-size: 3rem; 
    font-weight: 600;
}

/*Small view and under*/
@media screen and (max-width: 991px) {

    .esdcadultlearningcampaign ul.alc-csg-features-flex-container { 
        flex-direction: column;
    }

    .esdcadultlearningcampaign ul.alc-csg-features-flex-container li {
        margin: 20px 10px 0px 10px !important; 
    }

}